@{
    ViewBag.Title = "Contact";
}
<h2>Контакты</h2>

<address>
    Магомедов Магомед Мурадович<br />
    mahendropolos@yandex.ru<br />
    <abbr title="Phone">P:</abbr>
    8-999-830-17-05
</address>
